<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <style>
        input[type="submit"] {
            background-color: darkslategray;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
</head>
<body>
<h1 style="color:darkgreen">User to Update Details</h1>
<h1 th:if="${error}" th:text="${error}"></h1>

<form th:method="post" th:action="@{/admin/edit}" th:object="${user}">
    <div style="background-color: #96D4D4">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <input type="hidden" th:name="id" th:value="${user.id}"/>
        <br>
        <label for="firstName">Enter FirstName: </label>
        <input type="text" th:field="*{firstName}" id="firstName"/>
        <p style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Name Error</p>
        <br>
        <br>
        <label for="lastName">Enter LastName: </label>
        <input type="text" th:field="*{lastName}" id="lastName"/>
        <p style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name Error</p>
        <br>
        <br>
        <label for="email">Enter Email: </label>
        <input type="text" th:field="*{email}" id="email"/>
        <p style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</p>
        <br>
        <br>
        <label for="username">Enter Username: </label>
        <input type="text" th:field="*{username}" id="username"/>
        <p style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</p>
        <br>
        <br>
        <label for="password">Enter password: </label>
        <input type="password" th:field="*{password}" id="password"/>
        <p style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</p>
        <br>
        <br>
        <label for="passwordConfirm">Enter password confirm: </label>
        <input type="password" th:field="*{passwordConfirm}" id="passwordConfirm"/>
        <p style="color:red" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}">Password Confirm Error</p>
        <p style="color:red" th:if="${passwordError}" th:text="${passwordError}"></p>
        <br>
        <br>
        <input type="checkbox" id="adminCheck" name="roleAdmin" value="true"/>
        <label for="adminCheck">Assign as admin</label>
        <br>
    </div>
    <div>
        <br>
        <input type="submit" value="Update!"/>
    </div>
</form>
<div>
    <br>
    <a href="/admin/admin">Go to Admin Page</a>
</div>
<div>
    <hr>
    <form th:method="POST" th:action="@{/logout}">
        <input type="submit" value="Logout!"/>
    </form>
</div>
</body>
</html>